.student-home {
    display:flex;
}

.student-home-category{
    display:flex;
}

.student-home-category .student-home-item{
   padding:0px 30px;
    height: 150px;
    margin-left: 20px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transform: scale(1,1);
}

.student-home-category .student-home-item:hover{
    cursor: pointer;
    transform: scale(1.1,1.1);
}

.student-home-item i{
    font-size: 45px;
}

.profilePic{
    position: relative;
    height: 400px;
}

.profilePicChanger{
    height: 307px;
    width:298px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    left:0;
    top:0;
    opacity: 0;
    transition: all 0.5s;
}

.profilePicChanger:hover {
    opacity: 1;
}

.profilePicChanger  input{
    padding-left: 50px;
    padding-top: 120px;
}