.course_detail_content{
    display: flex;
    justify-content: space-between;
}

.course_detail_left{
    width:80%;
    display: flex;
    justify-content: space-around;
   
}
.course_detail_item{
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width:50%;
    text-align: left;
}

.course_detail_item  h2{
    padding:10px;
}

.course_detail_content .point{
    margin-left: 20px;
}

/* Heart the course */
.course_detail_item  h2 i{
    padding-left: 50px;
}

.course_detail_item  h2 i:hover{
    cursor: pointer;

}

.course_detail_item .description{
    width:70%;
    padding:10px;
}

.course_detail_item  .price{
    width:40%;
    padding:10px;
}

.course_detail_item .money{
    display: flex;
}

.course_detail_item .money button{
    border:none;
    height:40px;
    width:  200px;
    transform: scale(1,1);
    transition: all 0.3s;
}
.course_detail_item .money button:hover{
    cursor: pointer;
    transform: scale(1.1,1.1);
}

.comment_section{
    margin-top: 20px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height:400px;
}

.comment_section .comment_section_item{
    box-shadow:  0 4px 8px 0 rgba(24, 23, 23, 0.5);
    width: 30%;
    text-align: left;
    border-radius: 15px;
    padding:5px;
    margin-top: 10px;
}

.comment_section h3{
    border: 1px solid black;
}

.comment_section_item span{
    margin-left: 10px;
}