.nav-link{
    text-decoration: none;
}

.course_content{
    display: grid;
    grid-template-columns: auto auto auto;
    width:80%;
    margin: 0 auto;
}

.course_item{
    width:370px;
    height:160px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    transform: scale(1,1);
    transition: all 0.5s;
}

.course_item:hover{
    cursor: pointer;
    transform: scale(1.1,1.1);
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2),0 10px 24px 0 rgba(0, 0, 0, 0.19);
}

.detail{
    display:flex;
    justify-content: space-around;
}

